body{
    margin:4%;
    background: grey;
    background-size: cover;
}
.scrollmenu{
    width: 940px;
    position: absolute;
    margin: 0 auto;
    margin: 0 0 0 15px;
    text-transform:uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    display: inline;
}
header {
    text-align: center;
}
h1{
    text-align: top;
    font-size: 30px;
    color: black;
    background-color: grey;
    }


img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    text-align: center;

}    

.contact-form input{
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;
}

.contact-form input[type=tex]{
    height: 100px;
}

button{
    color: black;
    border: none;
    width: 100px;
    height: 30px;
}

